## Project Flogo .gitignore
## To restore all dependencies and prepare the project for build run
## the command `flogo ensure`
.DS_Store
## bin folder is constructed using flogo build
/bin
## pkg folder is constructed using flogo ensure
/pkg
## vendor folder in src is constructed using flogo ensure
/src/*/vendor
